extends layout

block css
  link(rel='stylesheet', href='/css/common/tab.css')
  link(rel='stylesheet', href='/css/aat.css')

block content
  div.s_pic
  div.tab_wrap
    div.tab
      ul.tab_nav
        li.tab_navItem 走进艾艾贴
        li.tab_navItem 认识艾艾贴
        li.tab_navItem 艾艾贴公司介绍
        li.tab_navItem 公司资质
        li.tab_navItem 代理加盟
        li.tab_navItem 联系我们
        li.tab_navItem 在线咨询
      div.tab_c

block js
  script(src="/js/tab.js")