extends layout

block css
  link(rel='stylesheet', href='/css/common/tab.css')
  link(rel='stylesheet', href='/css/aat.css')

block content
  div.s_pic
  div.tab_wrap
    div.tab
      ul.tab_nav
        li.tab_navItem 艾灸知识
        li.tab_navItem 艾灸养生
        li.tab_navItem 艾灸穴位
        li.tab_navItem 穴位查询
        li.tab_navItem 资料下载
        li.tab_navItem 艾灸知识

div.tab_c

block js
  script(src="/js/tab.js")