extends layout

block css
  link(rel='stylesheet', href='/css/common/tab.css')
  link(rel='stylesheet', href='/css/aat.css')

block content
  div.s_pic
  div.tab_wrap
    div.tab
      ul.tab_nav
        li.tab_navItem 新闻动态
        li.tab_navItem 行业动态
        li.tab_navItem 公司动态
        li.tab_navItem 团队建设

div.tab_c

block js
  script(src="/js/tab.js")