extends layout

block css
  link(rel='stylesheet', href='/css/common/tab.css')
  link(rel='stylesheet', href='/css/aat.css')

block content
  div.s_pic
  div.tab_wrap
    div.tab
      ul.tab_nav
        li.tab_navTitle 成功案例
        li.tab_navItem.active(id='brand' data-id='success_tab') 成功案例
        li.tab_navItem(id='brand' data-id='yuejing_tab') 月经不调
        li.tab_navItem(id='brand' data-id='nose_tab') 鼻炎
      div.tab_c
        div.tab_cItem.active(id='success_tab')
          p.tab_article_h3 一、月经不调概述
          p.tab_article_h3 1. 引起月经不调的原因
          p.tab_article_c 月经不调包括月经先期、月经后期、月经先后不定期以及月经颜色、质、量的异常改变。导致月经不调的原因很多，但不外乎内伤七情、外感六淫、饮食失节、起居失宜等。
          p.tab_article_c 现代青年女性，长期生活、工作在空调房内；经常出入肯德鸡、麦当劳餐厅，吃冰淇凌、喝冷饮；穿低腰裤、超短裙、露脐装；月经来时不知禁忌，洗冷水澡，寒邪直入胞宫，冲任受损；或春情涌动，所欲不遂而致肝气郁结。
          p.tab_article_c 中年女性，工作生活压力大而致肝郁气滞；或产乳过多，房事不节，伤精损血；或不按时就餐，损伤脾胃，生化之源不足，损气耗血等，均可导致月经不调。
          br
          p.tab_article_h3 二、月经不调的类型和对症取穴
          br
          p.tab_article_c ①      血虚型月经不调
          p.tab_article_c 症见月经后期，量少色淡，质清稀，伴有眩晕，失眠，心悸，面色苍白，神疲乏力，舌淡，脉弱无力。
          p.tab_article_c 艾灸治疗选穴：膻中、关元、子宫、内关、涌泉。
          br
          p.tab_article_c ②      肾虚型月经不调
          p.tab_article_c 症见月经初潮较迟，经期延后，量少，色正常或暗淡，质薄，伴有腰酸背痛，舌正常或偏淡，脉沉。治宜补肾养血。
          p.tab_article_c 艾灸选穴：八髎穴、归来、三阴交
          br
          p.tab_article_c ③      血寒型月经不调
          p.tab_article_c 症见月经后期，量少色暗，有块，或色淡质稀，伴有小腹冷痛，喜温喜按，得热则减，或畏寒肢冷，小便清长，大便稀薄，舌淡，苔薄白，脉沉紧或沉迟无力。治宜温经散寒调经。
          p.tab_article_c 艾灸选穴：关元、八髎穴、三阴交、足三里
          br
          p.tab_article_c ④      气郁型月经不调
          p.tab_article_c 症见月经后期，量少色暗有块，排出不畅，伴有少腹胀痛，乳胀胁痛，精神抑郁，舌正常或稍暗，脉弦涩。治宜行气活血。
          p.tab_article_c 艾灸取穴：关元、命门、肩井、太冲
          img.tab_article_img(src="/img/success/1.jpg")
          img.tab_article_img(src="/img/success/2.jpg")
          img.tab_article_img(src="/img/success/3.jpg")
          img.tab_article_img(src="/img/success/4.jpg")
          br
          p.tab_article_h3 三、艾灸体会分享
          img.tab_article_img(src="/img/success/5.jpg")
          img.tab_article_img(src="/img/success/6.jpg")
          img.tab_article_img(src="/img/success/7.jpg")
          p.tab_article_h3 一、 四、月经期是否可以艾灸：
          br
          p.tab_article_c 1、血量大的根据情况，也是适合艾灸的。
          p.tab_article_c 月经期可以艾灸吗？
          p.tab_article_c 月经期艾灸是应该有指正的，如果你有腺肌症，子宫肌瘤，卵巢囊肿，还有盆腔积液，都适合月经期艾灸。
          p.tab_article_c 因为这些疾病，只有在月经期才会有这样的通路排出，灸后可以协助排出宫腔内的积血和垃圾。
          p.tab_article_c 月经期艾灸，可以分解肌瘤和排出来囊肿以及积液。
          p.tab_article_c 您可以照常艾灸中脘、神阙、关元、子宫、归来、八髎穴，足三里和三阴交，涌泉穴。
          p.tab_article_c 艾灸上述穴位会减轻腹痛，以及帮助你排毒。
          p.tab_article_c 对于你的疾病月经期是可以艾灸的，你可以尝试月经期艾灸。
          br
          p.tab_article_h3 2、还有如果经量少的，也适合月经期艾灸，都说艾灸是活血化瘀的，但是艾灸还有一种功能叫做，调整平衡，由于你身体不平衡了，所以艾灸可以帮助你调整正常。
          br
          br
          p.tab_article_h3 经典案例：（链接）
          a.tab_article_c(href="javascript:") 1、 艾艾贴-月经不调
          a.tab_article_c(href="javascript:") 2、 艾艾贴-月经不调、痛经
          br
          a.tab_article_h3 相关案例：（链接）
          a.tab_article_c(href="javascript:") 1、 艾艾贴—艾灸调理原位癌1
          a.tab_article_c(href="javascript:") 2、 艾艾贴—调理子宫原位癌2
          a.tab_article_c(href="javascript:") 3、 艾艾贴—助孕
          a.tab_article_c(href="javascript:") 4、 艾艾贴—调理痛经助孕

















div.tab_cItem.active(id='yuejing_tab')

        div.tab_cItem.active(id='nose_tab')

div.tab_c

block js
  script(src="/js/tab.js")