extends layout

block css
  link(rel='stylesheet', href='/css/common/tab.css')
  link(rel='stylesheet', href='/css/aat.css')

block content
  div.s_pic
  div.tab_wrap
    div.tab
      ul.tab_nav
        li.tab_navItem 成功案例
        li.tab_navItem 长蛇灸+八髎穴
        li.tab_navItem 感冒鼻炎
        li.tab_navItem 肠胃
        li.tab_navItem 关节疼

div.tab_c

block js
  script(src="/js/tab.js")