extends layout

block css
  link(rel='stylesheet', href='/m/css/common/tab.css')
  link(rel='stylesheet', href='/m/css/aat.css')

block content
  div.s_pic
  div.tab_wrap
    div.tab
      ul.tab_nav
        li.tab_navItem 代理商加盟
        li.tab_navItem 代理加盟
        li.tab_navItem 产品购买
        li.tab_navItem 在线咨询

div.tab_c

block js
  script(src="/m/js/tab.js")