body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
}

.head {
    height: 50px;
    margin-top: 50px;
    background-color: rgb(167, 167, 117);
    /*background-color: #aeac95;*/
    /*border-bottom: 1px solid #817d3e;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.headW {
    width: 980px;
    position: relative;
    margin: 0 auto;
}

.logo {
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 35px;
    margin-top: -40px;
    border-radius: 5px;
    background-color: #b6a168;
    background-image: url(../../img/logo2.png);
    background-position: 0 -5px;
    background-repeat: no-repeat;
}

.nav {
    display: block;
    position: relative;
    text-align: right;
    /*background: #aeac95;*/
}

.navList {
    font-size: 0;
    line-height: 0;
    position: relative;
}

.navItem {
    display: inline-block;
}

.selected {
    background-color: #817d3e; /*#b6a168*/
}

.navItem a {
    display: block;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-decoration: none;
    color: #333;
}

.moveItem {
    position: absolute;
    background: #817d3e;
    top: 0;
    height: 50px;
}

.foot {
    height: 100px;
    margin-top: 30px;
    border-top: 1px solid #ddd;
}

.foot_c {
    display: block;
    text-align: center;
    padding-top: 50px;
}