extends ../layout

block css
    link(rel='stylesheet', href='/m/css/news/news.css')
block content
    div.content.news(style="text-align:center;")
        p.news_h1 三分钟了解艾灸
        br
        p.news_p.news_h2 了解艾草
        img.news_img(src="/m/img/news/1/1.png")
        p.news_p 艾草，是一种草本植物，
        p.news_p 有调经止血﹑散寒除湿之效，
        p.news_p 因其以药性为人知晓，
        p.news_p 故又被称为“医草”。
        p.news_p 民间有习俗“端午挂艾”，
        p.news_p 其功就是利用艾草的纯阳之性，
        p.news_p 来辟邪，祛毒，招福之功。
        br
        p.news_p.news_h2 何为艾灸
        img.news_img(src="/m/img/news/1/2.png")
        p.news_p 艾灸最古老最传统的中医养生方法之一。
        p.news_p 艾灸就是利用艾草，
        p.news_p 或以艾草为主要材料制成一种产品，
        p.news_p 点燃后悬置或者放置于人体的病变部位或者穴位上，
        p.news_p 进行温熨、烧灼，借灸火的热力以及药物的作用，
        p.news_p 达到治病保健目的一种中医外治法。
        br
        p.news_p.news_h2 艾灸作用
        img.news_img(src="/m/img/news/1/3.png")
        p.news_p 有温经散寒、行气活血、
        p.news_p 温补元气、扶阳固脱、
        p.news_p 消肿散结、回阳救逆、
        p.news_p 拔毒泄热、防病保健之功。
        br
        p.news_p.news_h2 针和灸的区别
        img.news_img(src="/m/img/news/1/4.png")
        p.news_p 针，既针刺，
        p.news_p 针产生的只是物理作用。
        p.news_p 灸，既艾灸，
        p.news_p 灸产生的是物理和药理的复合作用。
        p.news_p 两者的治疗范围不一样。
        br
        p.news_p.news_h2 艾灸起源历史
        img.news_img(src="/m/img/news/1/5.png")
        p.news_p 艾灸起源于上古时期，
        p.news_p 发展于秦汉，
        p.news_p 成熟于元明时，
        p.news_p 衰落于晚清和近代，
        p.news_p 在现代得到传承与创新。
        br
        p.news_p.news_h2 艾灸养生的好处
        img.news_img(src="/m/img/news/1/6.png")
        p.news_p 现代人贪食寒凉、工作疲劳、
        p.news_p 非时作息、性情浮躁都在耗损着阳气，
        p.news_p 而人体脏腑的运转，经络的运行等
        p.news_p 一切生理活动都离不开阳气的推动。
        p.news_p 中医养生保健重在扶阳，
        p.news_p 而最直接有效补充阳气的方法就是艾灸。
        br
        p.news_p.news_h2 艾艾贴
        img.news_img(src="/m/img/news/1/6.png")
        p.news_p 艾艾贴选用医圣故里陈年艾草，
        p.news_p 经过选材、筛选、敲打、
        p.news_p 提纯、晾晒、成型六大步骤，
        p.news_p 用传统的人工手作方法，
        p.news_p 制作出高品质的黄金艾柱。
        img.news_img(src="/m/img/news/1/7.png")
        p.news_p 艾艾贴品牌将功能与养生美学相结合，
        p.news_p 研发出梅花形艾灸产品，
        p.news_p 具有燃烧速度快，
        p.news_p 热力温和稳定，
        p.news_p 烟量少等特点，
        p.news_p 对比其他艾灸产品，
        p.news_p 更有效，更安全，更便利。
        br
        div.contacts
            div.contacts_right
                span 微信扫一扫
                img.qrcode(src="/m/img/weixinqr.png")
            div.contacts_left
                p.contacts_key 经销商：
                    span.contacts_val 卢小姐
                p.contacts_key 联系电话：
                    span.contacts_val 18923842830
                p.contacts_key 微信号：
                    span.contacts_val L234537021
                p.contacts_key QQ：
                    span.contacts_val 234537021
                p.contacts_key 邮箱：
                    span.contacts_val 234537021@qq.com



block js