extends ../layout

block css
    link(rel='stylesheet', href='/m/css/news/news.css')

block content
    div.content.news
        p.news_h1 艾养生丨红豆薏米粥祛湿？90%的人都犯了这几个错误

        p.news_p.news_h2 夏季祛湿
        p.news_p 祛湿的方法很多，比较常见的有食疗，很多人就喜欢“红豆薏米粥”，其实，你真的了解过它们的作用吗？
        p.news_p 红豆薏米粥的常见做法就是将红豆薏米加水熬煮，然后喝汤吃豆。但实际上，有四点错了：
        img.news_img(src="/m/img/news/3/1.png")

        p.news_p 红豆错了
        p.news_p 中医里的红豆指的是赤小豆，红豆养心，赤小豆祛湿；从形状上看，红豆比较圆，赤小豆是细长的。
        p.news_p 薏米错了
        p.news_p 薏米祛湿虽好，但寒性太重，直接煮来吃，会伤脾，脾是负责运化湿气的，脾伤了，湿气更加挥发不出，越想祛湿反而越湿。
        p.news_p 煮法错了
        p.news_p 赤小豆、薏米仁很难煮烂，最好用热水浸泡一小时后再煮，否则营养很难出来，但很多人往往都是直接煮。
        p.news_p “光祛湿不健脾”错了
        p.news_p 上面刚讲过脾与湿气是对“好基友”，脾虚了，湿气会加重，湿气重又会导致脾虚，所以要祛湿，需要同时健脾。
        br
        p.news_p “四宗罪”里，第四点尤其重要，为什么有些人喝了红豆薏米粥还是有湿气，很大的原因在于本身湿气已经很重，伤及到脾了，或者说本身是脾虚湿盛。

        p.news_p.news_h2 正确祛湿的方法
        img.news_img(src="/m/img/news/3/2.png")
        p.news_p 《本草纲目》里介绍了一个调理湿邪、健脾胃的方子——芡实薏仁茶，具体做法是将薏米仁炒到微黄，将薏米仁、芡实、赤小豆各5克用冷水浸泡半天(或用热水浸泡两小时)，洗净后加水煮一小时，再加入马齿苋、淡竹叶、槐米、绿茶等食材，转文火煮半小时，待凉饮用，无需吃豆子。
        p.news_p 芡实薏仁茶健脾祛湿的原理，其实《本草纲目》里有提及，赤小豆祛湿效果好，还能消水肿、排毒，薏米仁祛湿且有一定的健脾、淡斑作用(炒过的薏米仁大大减轻了寒性)，而芡实健脾作用一级棒，还可祛湿固肾(肾好了，利尿去水湿)。马齿苋、淡竹叶、槐米、绿茶等食材，起到的主要是消炎清热的效果，可以帮助改善长痘、口苦的情况。
        p.news_p 长期喝，还可以起到减肥的作用——湿气重导致的肥胖都是虚胖，芡实薏仁茶有利尿消肿的作用，把身体里多余的水分排掉了，人也变得瘦一点。

        p.news_p.news_h2 祛湿小妙招分享 
        img.news_img(src="/m/img/news/3/3.png")
        p.news_p 1、帮助祛湿：
        p.news_p 艾灸脾俞穴、丰隆穴可以帮助祛湿，运动(轻度运动如慢跑、快走、瑜伽)微微出汗也有效果。
        img.news_img(src="/m/img/news/3/4.png")
        img.news_img(src="/m/img/news/3/5.png")
        p.news_p 2、远离湿源：
        p.news_p 艾灸脾俞穴、丰隆穴可以帮助祛湿，运动(轻度运动如慢跑、快走、瑜伽)微微出汗也有效果。
        br
        div.contacts
            div.contacts_right
                span 微信扫一扫
                img.qrcode(src="/m/img/weixinqr.png")
            div.contacts_left
                p.contacts_key 经销商：
                    span.contacts_val 卢小姐
                p.contacts_key 联系电话：
                    span.contacts_val 18923842830
                p.contacts_key 微信号：
                    span.contacts_val L234537021
                p.contacts_key QQ：
                    span.contacts_val 234537021
                p.contacts_key 邮箱：
                    span.contacts_val 234537021@qq.com


block js