extends ../layout

block css
    link(rel='stylesheet', href='/css/news.css')

block content
    div.content.news
        p.news_h1 艾灸知识大全丨艾艾贴，引领健康养生新时尚

        p.news_p.news_h2 艾灸的起源
        p.news_p 灸，起源于火。针，起源于石。艾灸出现的时间要早于针灸。
        p.news_p 艾灸产生于远古时代，是中国最古老的医术之一。从原始人发明火就出现了灸法的使用，在人类文明进程及医学发展史上都具有重要的影响。《黄帝内经》对灸法做了记载，甲骨文时代将“此草乂疾为‘艾’”就是充分的证明。
        img.news_img(src="/img/news/1/1.png")

        p.news_p.news_h2 艾灸的原理

        p.news_p 艾性温，其味芳香，善通经脉，具有理气血、逐寒湿、温经、止血、安胎的作用。艾灸是以艾为原料，点燃后放在腧穴或病变部位，进行烧灼、熏熨，通过温热刺激及药物的作用，经过经络的传导，达到温通气血、扶正祛邪的功效。
        img.news_img(src="/img/news/1/2.png")
        p.news_p 调阴阳
        p.news_p 人体阴阳平衡则身体健康，而阴阳失衡就会发病，艾灸能使失衡的阴阳重新恢复平衡。
        p.news_p 和气血
        p.news_p 气是生命之源，血为物质基础，艾灸可补气养血、疏理气机，以达养生保健的目的。
        p.news_p 通经络
        p.news_p 艾灸借助其温热肌肤的作用，活血通络，以达治疗寒凝血滞、经络痹阻所引起的各种病证之效。
        p.news_p 扶正气
        p.news_p 正气存内则邪不可干，艾灸通过对某些穴位施灸可以培扶人体正气，增强机体防病抗病能力。


        p.news_p.news_h2 艾灸的适应症
        p.news_p 感冒，鼻炎，失眠，痛经，经闭，面瘫，腹痛，肩周炎，腰肌劳损，腰腿疼痛，骨质增生，腰椎间盘突出等。
        p.news_p 呕吐，胃痛，腹泻，久痢，遗尿，阳痿，早泄，内脏下垂、脱肛、阴挺、崩漏等。
        p.news_p 现代人贪食寒凉、工作疲劳、非时作息、性情浮躁都在耗损着阳气，而人体脏腑的运转，经络的运行等一切生理活动都离不开阳气的推动。中医养生保健重在扶阳，而最直接有效补充阳气的方法就是艾灸。
        img.news_img(src="/img/news/1/3.png")
        p.news_p 传统艾灸图
        img.news_img(src="/img/news/1/4.png")
        p.news_p.news_h2 艾艾贴艾灸图
        p.news_p 关于艾艾贴
        p.news_p 艾艾贴是由传统悬灸发展而来的，是传统艾灸产品的革新，却比传统的艾灸更简单、更实用、效果更好。
        p.news_p 艾艾贴选用医圣故里陈年艾草，经过选材、筛选、敲打、提纯、晾晒、成型六大步骤，用传统的人工手作方法，制作出高品质的黄金艾柱。
        p.news_p 一般市面上流通的传统艾条艾绒成份为5:1或10:1，而艾艾贴使用的陈年黄金艾绒为30:1，即用30公斤艾叶提纯出1公斤黄金艾绒，具有燃烧速度快，热力温和稳定，烟量少等特点。

        p.news_p.news_h2 使用说明书艾艾贴

        p.news_p 艾灸是流传千年的养生方法，
        p.news_p 然而传统的艾灸方法很繁琐，
        p.news_p “艾艾贴”是如何化繁为简的？
        p.news_p 艾艾贴创始人元月女士
        p.news_p 亲自为你演示！

        p.news_p.news_h2 艾艾贴的使用方法
        p.news_p 撕开底部粘纸，点燃艾艾贴，贴在身体相应部位，当艾柱烧至止燃线后会自动熄灭，冷却后收集艾灰，取下底座。一般部位连灸两至三遍即可。
        img.news_img(src="/img/news/1/5.png")
        p.news_p 第一步：轻轻撕开
        img.news_img(src="/img/news/1/6.png")
        p.news_p 第二步：缓缓点燃
        img.news_img(src="/img/news/1/7.png")
        p.news_p 第三步：稳稳粘贴
        p.news_p 常见病症灸法
        img.news_img(src="/img/news/1/8.png")
        p.news_p 感冒、鼻炎灸法
        img.news_img(src="/img/news/1/9.png")
        p.news_p 头痛、失眠灸法
        img.news_img(src="/img/news/1/10.png")
        p.news_p 颈椎灸法
        img.news_img(src="/img/news/1/11.png")
        p.news_p 腰椎灸法
        img.news_img(src="/img/news/1/12.png")
        p.news_p 宫寒灸法

        div.contacts
            div.contacts_right
                span 微信扫一扫
                img.qrcode(src="/img/weixinqr.png")
            div.contacts_left
                p.contacts_key 经销商：
                    span.contacts_val 卢小姐
                p.contacts_key 联系电话：
                    span.contacts_val 18923842830
                p.contacts_key 微信号：
                    span.contacts_val L234537021
                p.contacts_key QQ：
                    span.contacts_val 234537021
                p.contacts_key 邮箱：
                    span.contacts_val 234537021@qq.com


block js